.item{
    margin-left: 50px;
}

.list{
    list-style: none;
    margin-right: 20px;
    display: inline-flex;
}
.btn{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn::first-letter{
    text-transform: uppercase;
}
.btn:hover {
    background-color: #4CAF50;
    color: white;
}